@model bevo.Models.StockDetailsViewModel

@{
    ViewBag.Title = "stock detail";
}

<div class="row">
    <div class="homepage-top">
        <h2>stock detail</h2>
        <p>@Html.DisplayFor(model => model.Name)</p>
    </div>
</div>

<div class="row">
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ticker)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ticker)
        </dd>

        <dt>
            Average Purchaes Price
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PurchasePrice)
        </dd>

        <dt>
            Current Price
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentPrice)
        </dd>

        <dt>
            Profit
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Delta)
        </dd>

    </dl>
</div>

<div class="row">
    <img src="@ViewBag.YahooImg" />
</div>

