@{
    ViewBag.Title = "purchase stock";
}

@using (Html.BeginForm("PurchaseStock", "PurchaseStock", FormMethod.Get))
{
    <p class="form-group">
        Date: @Html.TextBox("enteredDate", null, new { @class = "form-control"}) <br />
        @Html.DropDownList("selectedAccount", (SelectList)ViewBag.SelectAccount, new { @class = "form-control" }) <br/>
        @Html.DropDownList("selectStock", (SelectList)ViewBag.SelectStock, new { @class = "form-control" }) <br/>
        Name: @Html.TextBox("numShares", null, new { @class="form-control" }) <br/>
        <input type="submit" value="Submit" class="btn btn-default" />
    </p>

    <p>Available Accounts to purchase from</p>
    <table class="table">
        <tr>
            <th>
                Account Name
            </th>
            <th>
                Balance
            </th>
        </tr>
        @foreach (var a in ViewBag.AllAccounts)
        {
            <tr>
                <td>
                    @a.AccountName
                </td>
                <td>
                    @a.Balance
                </td>
            </tr>
        }
    </table>

    <p> Available Stocks for Purchasing </p>
        <table class="table">
        <tr>
            <th>
                Stock Name
            </th>
            <th>
                Stock Ticker
            </th>
            <th>
                Current Price
            </th>
        </tr>
        @foreach (var s in ViewBag.AvailableStocks)
            {
                <tr>
                    <td>
                        @s.Name
                    </td>
                    <td>
                        @s.Ticker
                    </td>
                    <td>
                        @s.CurrentPrice
                    </td>
                </tr>
            }
        </table>

    

}


<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

