@{
    ViewBag.Title = "purchase stock";
}

<div class="row">
    <div class="homepage-top">
        <h2>purchase a stock</h2>
    </div>
</div>

@using (Html.BeginForm("PurchaseStock", "PurchaseStock", FormMethod.Post))
{
    
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="form-table-container col-lg-7">
            <p>Available Accounts to purchase from</p>
            <div class="form-display-table">
                <table class="table">
                    <tr>
                        <th>Account Name</th>
                        <th>Balance</th>
                    </tr>
                    @foreach (var a in ViewBag.AllAccounts)
                    {
                        <tr>
                            <td>@a.AccountName</td>
                            <td>@a.Balance</td>
                        </tr>
                    }
                </table>
            </div>

            <p>Available Stocks to purchase</p>
            <div class="form-display-table">

                <table class="table">
                    <tr>
                        <th>Stock</th>
                        <th>Ticker</th>
                        <th>Type</th>
                        <th>Current Price</th>
                        <td>Detail</td>
                    </tr>
                    @foreach (var s in ViewBag.AvailableStocks)
                    {
                        <tr>
                            <td>@s.Name</td>
                            <td>@s.Ticker</td>
                            <td>@s.Type</td>
                            <td>@s.CurrentPrice</td>
                            <td>
                                @Html.ActionLink(
                            linkText: "Details",
                            actionName: "Details",
                            controllerName: "Stocks",
                            routeValues: new { id = s.StockID },
                            htmlAttributes: null)
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
        <div class="form-container col-lg-4">
            <p class="form-group">
                Date @Html.TextBox("enteredDate", null, new { @class = "form-control" }) <br />
                Purchase with Account @Html.DropDownList("selectedAccount", (SelectList)ViewBag.SelectAccount, new { @class = "form-control" }) <br />
                Select Stock to Purchase @Html.DropDownList("selectedStock", (SelectList)ViewBag.SelectStock, new { @class = "form-control" }) <br />
                Number of Shares @Html.TextBox("numShares", null, new { @class = "form-control" }) <br />
                <input type="submit" value="Submit" class="btn btn-default color" />
            </p>
        </div>

    </div>
}


<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

