@model bevo.Models.Transaction
@{
    ViewBag.Title = "purchase stock";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
            </div>
        </div>

        <h3>Available Accounts for Purchasing</h3>
       <table class="table">
            <tr>
                <th>
                    Account Name
                </th>
                <th>
                    Balance
                </th>
            </tr>
           @foreach (var a in ViewBag.AllAccounts)
           {
               <tr>
                   <td></td>
                   <td>
                       a.AccountName
                   </td>
                   <td>
                       a.Balance
                   </td>
               </tr>
           }
       </table>

        @Html.DropDownList("SelectedAccount", (SelectList)ViewBag.SelectAccount, new { @class= "form-control" } )
        <br /><br />

        @*TODO: Display available stocks to purchase*@

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Stock.StockDetails, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Stock.StockDetails, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Stock.StockDetails, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Submit" class="btn btn-default" />
            </div>
        </div>
    </div>
}


<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

