@using Microsoft.AspNet.Identity
@model bevo.Models.StockPortfolio

@{
    ViewBag.Title = "my stock portfolio";
}


<div class="row">
    <div class="homepage-top">
        <h2>@ViewBag.Title</h2>
    </div>
</div>

<div class="homepage row">
    <div class="quick-action-container col-lg-3">
        <div class="stock-value">
            <h3>Current Value</h3>
            <div class="value-container">
                <p>@ViewBag.PortfolioInfo.CurrentValue</p>
            </div>
            <p>@{
                if (ViewBag.IsBalanced == true)
                { ViewBag.BalanceStatus = "BALANCED"; }
                else
                { ViewBag.BalanceStatus = "UNBALANCED"; }
            }
            @ViewBag.BalanceStatus
            </p>
        </div>
        <div class="quick-action-button">
            <p>
                <!--TODO: Which action on which controller to buy stock?-->
                @Html.ActionLink(
                linkText: "Buy Stocks",
                actionName: "Index",
                controllerName: "PurchaseStock",
                routeValues: null,
                htmlAttributes: new { @class = "quick-actions" })
            </p>
        </div>
        <div class="quick-action-button">
            <p>
                <!--TODO: Which action on which controller to sell stock?-->
                @Html.ActionLink(
                linkText: "Sell Stocks",
                actionName: "Index",
                controllerName: "SellStock",
                routeValues: null,
                htmlAttributes: new { @class = "quick-actions" })
            </p>
        </div>
        <div class="quick-action-button">
            <p>
                @Html.ActionLink(
                linkText: "Change Account Name",
                actionName: "EditName",
                controllerName: "StockPortfolio",
                routeValues: new { id = Model.StockPortfolioID },
                htmlAttributes: new { @class = "quick-actions" })
            </p>
        </div>
    </div>
    <div class="col-lg-9">
        <div class="table-container">
            <h3 class="table-title">Cash Value</h3>
            <div class="portion-container">
                <h3 class="section-title">Overview</h3>
                <table class="table">
                    <tr>
                        <td>
                            Gains
                        </td>
                        <td>
                            @ViewBag.PortfolioInfo.TotalGains
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Fees
                        </td>
                        <td>
                            @ViewBag.PortfolioInfo.TotalFees
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Bonus
                        </td>
                        <td>
                            @ViewBag.PortfolioInfo.TotalBonuses
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Available Cash
                        </td>
                        <td>
                            @ViewBag.PortfolioInfo.CashAvailable
                        </td>
                    </tr>
                </table>
                <h2>Details</h2>
                <table class="table">
                    <tr>
                        <th>
                            Type
                        </th>
                        <th>
                            Amount
                        </th>
                        <th>
                            Description
                        </th>
                    </tr>
                    @foreach (var t in ViewBag.Transactions)
                    {
                        <tr>
                            <td>
                                @t.TransType
                            </td>
                            <td>
                                @t.Amount
                            </td>
                            <td>
                                @t.Description
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>

        <div class="table-container">
            <h3 class="table-title">My Stocks</h3>
            <div class="portion-container">
                <table class="table">
                    <tr>
                        <th>
                            Stock
                        </th>
                        <th>
                            My Shares
                        </th>
                        <th>
                            Current Price 
                        </th>
                    </tr>
                    @foreach (var s in ViewBag.StockViewModel)
                    {
                        <tr>
                            <td>
                                @s.Ticker
                            </td>
                            <td>
                                @s.NumInAccount
                            </td>
                            <td>
                                @s.CurrentPrice
                            </td>
                            <td>
                                @Html.ActionLink(
                                linkText: "Details",
                                actionName: "Details",
                                controllerName: "Stock",
                                routeValues: new { id = s.StockID },
                                htmlAttributes: null)
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>
