@{
    ViewBag.Title = "sell stock";
}

<div class="row">
    <div class="homepage-top">
        <h2>sell a stock</h2>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        $('.confirmDialog')
    })
</script>

@using (Html.BeginForm("SellStock", "SellStock", FormMethod.Post))
{

    @Html.AntiForgeryToken()
    <div class="row">
        <div class="form-table-container col-lg-7">
            <p>My Stocks</p>
            <div class="form-display-table">
                <table class="table">
                    <tr>
                        <th>Stock</th>
                        <th>Ticker</th>
                        <th>Type</th>
                        <th>Purchase Price</th>
                        <th>Current Price</th>
                        <th>Transaction Fee</th>
                        <th>Number of Shares</th>
                        <th></th>
                    </tr>
                    @foreach (var s in ViewBag.GetAcctStocks)
                    {
                        <tr>
                            <td>@s.Name</td>
                            <td>@s.Ticker</td>
                            <td>@s.Type</td>
                            <td>@s.PurchasePrice</td>
                            <td>@s.CurrentPrice</td>
                            <td>$10.00</td>
                            <td>@s.NumInAccount</td>
                            <td>@Html.ActionLink(
                            linkText: "Details",
                            actionName: "Details",
                            controllerName: "Stocks",
                            routeValues: new { id = s.StockID },
                            htmlAttributes: null)
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
        <div class="form-container col-lg-4">
            <p class="form-group">
                Select Stock to Sell @Html.DropDownList("selectedStock", (SelectList)ViewBag.SelectStock, new { @class = "form-control" }) <br />
                Number of Shares @Html.TextBox("numShares", null, new { @class = "form-control" }) <br />
                <input type="submit" name ="SellStock" value="Submit" class="btn btn-default color" />
            </p>
        </div>

    </div>
}


<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>



