@model bevo.Models.EditDisputeViewModel

@{
    ViewBag.Title = "resolve dispute";
}

<div class="row">
    <div class="homepage-top">
        <h2>@ViewBag.Title</h2>
    </div>
</div>


    <dl class="dl-horizontal">


        <dt>
            First Name
        </dt>

        <dd>
            @ViewBag.DisputeDetails.FirstName
        </dd>

        <dt>
            Last Name
        </dt>

        <dd>
            @ViewBag.DisputeDetails.LastName
        </dd>

        <dt>
            Transaction
        </dt>

        <dd>
            @ViewBag.DisputeDetails.TransName
        </dd>

        <dt>
            Amount
        </dt>

        <dd>
            @ViewBag.DisputeDetails.TransAmount
        </dd>

        <dt>
            Corrected Amount
        </dt>

        <dd>
            @ViewBag.DisputeDetails.CorrectAmount
        </dd>

        <dt>
            Message
        </dt>

        <dd>
           @ViewBag.DisputeDetails.Message
        </dd>
    </dl>




@using (Html.BeginForm("EditDispute", "Manager", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.DisputeID)

        <div class="form-group">
            @Html.LabelFor(model => model.AdjustedAmount, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AdjustedAmount, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AdjustedAmount, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Comment, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Comment, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Comment, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EnumDropDownListFor(model => model.Status, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-container row">
            <p class="form-group">
                <input type="submit" value="EditDispute" class="btn btn-default" />
            </p>
        </div>

    </div>
}


<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
