@model IEnumerable<bevo.Models.AppUser>

@{
    ViewBag.Title = "manage employees";
}

<div class="row">
    <div class="homepage-top">
        <h2>manage employees</h2>
    </div>
</div>


@using (Html.BeginForm("FireEmpoyees", "Manager", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="form-table-container col-lg-7">
            <p>All Employees</p>
            <div class="form-display-table">
                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.FirstName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.LastName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Email)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.FirstName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LastName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>

        <div class="form-container col-lg-4">
            <div class="form-group">
                <p>
                    Select Employee to Fire @Html.DropDownList("id", (SelectList)ViewBag.SelectEmployee, new { @class = "form-control" }) <br />
                    <input type="submit" value="Submit" class="btn btn-default color" />
                </p>
            </div>
        </div>
    </div>
}
