@model bevo.Models.AppUser
@using Microsoft.VisualBasic;

@{
    ViewBag.Title = "manager home";
}

<div class="row">
    <div class="homepage-top">
        <h2>Manager Home</h2>
    </div>
</div>


<div class="homepage row">
    <div class="quick-action-container col-lg-3">
        <div class="quick-action-button">
            <p>
                @Html.ActionLink(
                linkText: "Process Portfolios",
                actionName: "ProcessBalancedPortfolios",
                controllerName: "Manager",
                routeValues: null,
                htmlAttributes: new { @class = "quick-actions" })
            </p>
        </div>
        <div class="quick-action-button">
            <p>
                @Html.ActionLink(
                linkText: "Current Disputes",
                actionName: "CurrentDisputes",
                controllerName: "Manager",
                routeValues: null,
                htmlAttributes: new { @class = "quick-actions" })
            </p>
        </div>
        <div class="quick-action-button">
            <p>
                @Html.ActionLink(
                linkText: "All Disputes",
                actionName: "AllDisputes",
                controllerName: "Manager",
                routeValues: null,
                htmlAttributes: new { @class = "quick-actions" })
            </p>
        </div>
        <div class="quick-action-button">
            <p>
                @Html.ActionLink(
              linkText: "Search Transactions",
              actionName: "Home",
              controllerName: "Transactions",
              routeValues: null,
              htmlAttributes: new { @class = "quick-actions" })
            </p>
        </div>
        <div class="quick-action-button">
            <p>
                @Html.ActionLink(
                linkText: "Add Stocks",
                actionName: "Create",
                controllerName: "Stocks",
                routeValues: null,
                htmlAttributes: new { @class = "quick-actions" })
            </p>
        </div>
        <div class="quick-action-button">
            <p>
              @Html.ActionLink(
              linkText: "Manage Employees",
              actionName: "FireEmployee",
              controllerName: "Employees",
              routeValues: null,
              htmlAttributes: new { @class = "quick-actions" })
            </p>
        </div>
        <div class="quick-action-button">
            <p>
              @Html.ActionLink(
              linkText: "Manage Customers",
              actionName: "FreezeCustomer",
              controllerName: "Manager",
              routeValues: null,
              htmlAttributes: new { @class = "quick-actions" })
            </p>
        </div>
        <div class="quick-action-button">
            <p>
                @Html.ActionLink(
              linkText: "View Pending Transactions",
              actionName: "ViewPendingTransactions",
              controllerName: "Manager",
              routeValues: null,
              htmlAttributes: new { @class = "quick-actions" })
            </p>
        </div>
        
    <div class="quick-action-button">
        <!--TODO: Move this somewhere else...-->
        <p>
            @Html.ActionLink(linkText: "View Account Info", actionName: "ViewInfo", routeValues: null, htmlAttributes: new { @class = "quick-actions" })
    </p>
</div>
</div>
<div class="homepage-container col-lg-9">
    <h3>Tasks awaiting Attention</h3>

    <table class="table">
        <tr>
            <th>
                Transaction
            </th>
            <th>
                Amount Disputed
            </th>
            <th>
                Customer
            </th>
            <th>
                Details
            </th>

        </tr>
        @foreach (var d in ViewBag.UnresolvedDisputes)
            {
            <tr>
                <td>
                    @d.TransName
                </td>
                <td>
                    @d.TransAmount
                </td>
                <td>
                    @d.CustEmail
                </td>
                <td>
                    @Html.ActionLink(
                        linkText: "Resolve",
                        actionName: "EditDispute",
                        controllerName: "Manager",
                        routeValues: new { id = d.DisputeID },
                        htmlAttributes: null)
                </td>
            </tr>
        }
        @foreach (var t in ViewBag.TransactionToApprove)
            {
            <tr>
                <td>
                    @t.TransactionNum
                </td>
                <td>
                    @t.Amount
                </td>
                <td>
                    UserID
                </td>
                <td>
                    @Html.ActionLink(
                        linkText: "Details",
                        actionName: "Details",
                        controllerName: "Transactions",
                        routeValues: new { id = t.TransactionID },
                        htmlAttributes: null)
                </td>
            </tr>
        }
    </table>
</div>

</div>

