@using Microsoft.AspNet.Identity
@model bevo.Models.AppUser

@{
    ViewBag.Title = "Home";
}

<div class="row">
    <div class="homepage-top">
        <h2>Hello [name]!</h2>
    </div>
</div>


<div class="homepage row">
    <div class="quick-action-container col-lg-3">
        <div class="quick-action-button">
            <!--TODO: Create Create action on Deposit controller-->
            <p>@Html.ActionLink("Make Deposit", "Create", "Deposit", new { @class = "quick-actions" })</p>
        
        </div>
        <div class="quick-action-button">
            <!--TODO: Create new method on controller-->
            <p>@Html.ActionLink("Transfer", "Create", "Transfer", new { @class = "quick-actions" })</p>
        </div>
        <div class="quick-action-button">
            <!--TODO: Create new method on controller-->
            <p>@Html.ActionLink("Pay Bill", "Create", "Pay", new { @class = "quick-actions" })</p>
        </div>
        <div class="quick-action-button">
            <!--TODO: Create new method on controller-->
            <p>@Html.ActionLink("Create New Account", "Create", "ChooseAccount", new { @class = "quick-actions" })</p>
        </div>
        <div class="quick-action-button">
            <!--TODO: Move this somewhere else...-->
            <p>@Html.ActionLink("Edit Account", "Index", "Manage", new { @class = "quick-actions" })</p>
        </div>
    </div>
    <div class="homepage-container col-lg-9">
        <h3>Account Overview</h3>
        
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CheckingAccounts)
                </th>
                <th>
                    Balance
                </th>
                <th></th>
            </tr>

            @foreach (var c in ViewBag.CheckingAccounts)
            {
                <tr>
                    <td>
                        @c.AccountName
                    </td>
                    <td>
                        $@c.Balance
                    </td>
                    <td>
                        @Html.ActionLink(
                        linkText: "Details",
                        actionName: "Details",
                        controllerName: "CheckingAccounts",
                        routeValues: new { id = c.CheckingAccountID },
                        htmlAttributes: null)
                    </td>
                </tr>
            }

        </table>
    </div>

</div>

